body {
    font-family: 'Sono', sans-serif;
}

.pricing-container{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
}

.pricing-plan{
    flex: 1;
    max-width: 350px;
    padding: 20px;
    background-color: #dee2e6;
    border-radius: 7px;
    text-align: center;
    transition: 2.5s;
}
.plan-button{
    background-color: #fe7f2d;
    border-radius: 7px;
    color: white;
    border: 0px;
    height: 30px;
}
.plan-price{
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

.plan-title{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.plan-features{
    list-style: none;
    padding: 0px;
    margin: 0px ;
}

.plan-features li{
    margin-bottom: 20px;
}

.plan-button:hover{
    width: 10rem;
    background-color: #dee2e6;
    border: 1px solid;
    transition: .2s;
}
.pricing-plan:hover{
    width: 500px;
    transition: .3s;
}


/* Hint: What can you do with a media query and flexbox? */
@media (max-width: 1250px) {
    .pricing-container{
        flex-direction: column;
        height: 100%;
    }
}